<!DOCTYPE html>
<html lang="{{session.locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>Oyat</title>
</head>
<body>
